<div>
    <h3>{{ _('USBControl settings') }}</h3>
    <div style='display: {{ 'none' if plugin_usbcontrol_init else 'block' }}'>
        <div style="clear:both">
            See the <a href="https://github.com/OutsourcedGuru/OctoPrint-USBControl" target="_blank">README.md</a> for how to set things up.
            <br/><br/>
        </div>
        <h3>{{ _('Setup required') }}</h3>
        <p>First things first, we need to permission the <code>pi</code> user so that it can run the <code>uhubctl</code> executable
            without providing a password.</p>
        <p>To do this, you'll need to remote into the Raspberry Pi and run the following command:</p>
        <p><code>sudo ~/oprint/lib/python2.7/site-packages/usbcontrol/bin/install</code><br/></p>
        <form class="form-horizontal">
            <label class="og_switch">
                <input type="checkbox" data-bind="click: saveInit">
                <span class="og_slider round"></span>
                <span class="theLabel">{{ _('Okay,&nbsp;I&nbsp;have&nbsp;done&nbsp;this') }}</span>
            </label>
        </form>
    </div>
    <div style='display: {{ 'block' if plugin_usbcontrol_init and (plugin_usbcontrol_isRaspi2B or plugin_usbcontrol_isRaspi3B or plugin_usbcontrol_isRaspi3Bplus or plugin_usbcontrol_isRaspi4B) else 'none' }}'>
        <div style="clear:both">
            See the <a href="https://github.com/OutsourcedGuru/OctoPrint-USBControl" target="_blank">README.md</a> for how to set things up.
            Blue in the slider below indicates that 5V power is ON (default).<br/><br/>
        </div>
        <form class="form-horizontal">
            <div style='display: {{ 'block' }}'>
                <h3>Important notice!</h3>
                <p>Given the internal design of Raspberry Pis, all four ports must be turned off/on at once.<br/><br/></p>
            </div>
            <br/>
            <div style='display: {{ 'none' if plugin_usbcontrol_isRaspi4B else 'block' }}'>
            <br/>
            <label class="og_switch">
                <input id="idUSBAll" type="checkbox" data-bind="checked: settings.plugins.usbcontrol.all, click: togglePowerAll">
                <span class="og_slider round"></span>
                <span class="theLabel">{{ _('USB Power') }}</span>
            </label>
            </div>
            <div style='display: {{ 'block' if plugin_usbcontrol_isRaspi4B else 'none' }}'>
            <br/>
            <label class="og_switch">
                <input id="idUSB4" type="checkbox" data-bind="checked: settings.plugins.usbcontrol.usb4, click: togglePower4">
                <span class="og_slider round"></span>
                <span class="theLabel">{{ _('USB Power') }}</span>
            </label>
            </div>
        </form>
    </div>
    <div style='display: {{ 'none' if (not plugin_usbcontrol_init) or (plugin_usbcontrol_isRaspi2B or plugin_usbcontrol_isRaspi3B or plugin_usbcontrol_isRaspi3Bplus or plugin_usbcontrol_isRaspi4B) else 'block' }}'>
        <div style="clear:both">
            <code>It looks like your OctoPrint is installed on something other than a Raspberry Pi 2B,<br/>
            3B, 3B+, 4B and therefore isn't compatible with this plugin.</code><br/><br/>
        </div>
    </div>
    <table><tr><td valign="top"><h3>{{ _('Why this might be useful') }}</h3>
        <ol>
            <li>The USB specification was created originally when the Type-A side of a USB cable was the PC and the Type-B side was the device.
            It was assumed that the PC could always provide power to the device.</li>
            <li>For OctoPi, the Type-A side is the Raspberry Pi 3B with a 5V 2.5A power adapter. It can't be sinking power over to the printer
            controller board since that's now considered to be the one with beefier power needs.</li>
            <li>It is suggested that this sinking of power is causing undervoltage conditions.</li>
            <li>The typical USB connection has four pins: 5V, ground, transmit and receive. OctoPrint appears to be happy with just the last three
            of these.</li>
            <li>Many people are applying a small strip of tape to the inside of their Type-A connectors to prevent 5V from being felt on the
            controller (Arduino) board.</li>
        </ol>
        <p>It turns out that you can programmatically turn off the 5V pin on a per-port basis. That's the approach that I'm taking here instead
            of using tape.</p>
        <p>This plugin uses <b>uhubctl</b> to turn USB power off and on. In addition to Raspberry Pi 2B, 3B, 3B+, and 4B it supports other USB hubs - refer
            to the list of supported devices on the <a href="https://github.com/mvp/uhubctl" target="_blank">uhubctl home page</a>.</p>
        </td><td width="50%" valign="top" align="right">
            <a href="https://github.com/OutsourcedGuru" target="_blank"><img src="plugin/usbcontrol/static/img/profile.png"></a>
        </td>
    <tr><tr><td colspan="2"><hr/></td>
    </tr><tr>
        <td>Tip me (BTC)</td><td width="50%" align="right">Tip me (ETH)</td>
    </tr><tr>
        <td valign="top"><img src="plugin/usbcontrol/static/img/btc-receive.png" width="250" height="250"></td>
        <td width="50%" valign="top" align="right"><img src="plugin/usbcontrol/static/img/eth-receive.png" width="280" height="280" style='margin-top: -15px; margin-right: -15px'></td>
    </tr></table>
</div>
